@import "./fonts";
@import './variables';
@import './grid';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after { box-sizing: border-box; }

html {
  overflow-y: initial;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  word-break: normal;

  height: 100%;

  &.locked {
    overflow: hidden;

    body {
      overflow: hidden;
    }
  }
}

body {
  margin: 0;
  overscroll-behavior: none;
  color: black;
  font-size: 16px;
  line-height: 1.4;
  font-family: $openSans;
  font-weight: 400;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  color: $ghost-white;
  .grecaptcha-badge { 
    visibility: hidden;
  }

  &.locked {
    overflow: hidden;
  }

  input,
  select {
    border-radius: 0;
  }
  .text-center {
    text-align: center;
  }
  

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > figure {
    &:empty {
      display: none;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0
  }
  img {
    max-width: 100%;
  }

  .display-1 {
    @include hasDisplay1FontSize;
  }
  .display-2 {
    @include hasDisplay2FontSize;
  }
  .display-3 {
    @include hasDisplay3FontSize;
  }
  .display-4 {
    @include hasDisplay4FontSize;
  }
  .display-5 {
    @include hasDisplay5FontSize;
  }
  .display-6 {
    @include hasDisplay6FontSize;
  }

  .eyebrow {
    @include hasEyebrowFontSize;
  }

  .subtitle {
    @include hasSubtitleFontSize;
  }

  .body {
    @include hasBodyFontSize;
    &-small {
      @include hasBodySmallFontSize;
    }
    &-large {
      @include hasBodyLargeFontSize;
    }
  }
}
