$inter: "Inter", sans-serif;
$openSans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$chakra: 'Chakra', sans-serif;

$headerHeight: 80px;
$headerHeightDesktop: 80px;

// $maxWidth: 1728px;
$maxWidth: 1440px;

$breakpointMobile: 320px; // 0px - 320px
// Mobile only (mobile through tablet) // 0px - 767px
$breakpointTablet: 768px; // 768px - 1023px
// $breakpointDesktop: 992px; // 1024px - 1280px
$breakpointDesktop: 1024px;
$gutters: 20px;

$night: #161616;
$imperial-red: #A82110;
$ghost-white: #e8ebf7;
$slate-gray: #708090;
$xanthous: #F2AF29;


$breakpoint-names: (sm, md, lg, xl, xxl);

$paddings: (15px, 20px, 50px, 80px, 100px);

$breakpointSValue: 320px;
$breakpointMValue: 768px;
$breakpointLValue: 992px;
$breakpointXLValue: 1200px;
$breakpointXXLValue: 1400px;

$breakpointS: sm;
$breakpointM: md;
$breakpointL: lg;
$breakpointXL: xl;
$breakpointXLI: xli;
$breakpointXXL: xxl;

$columns: 12 12 12 12 12;

$breakpoints: (
  $breakpointS "(max-width: #{$breakpointSValue})",
  $breakpointM "(min-width: #{$breakpointMValue})",
  $breakpointL "(min-width: #{$breakpointLValue})",
  $breakpointXL "(min-width: #{$breakpointXLValue})",
  $breakpointXXL "(min-width: #{$breakpointXXLValue})"
);
